*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #535353;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.holder-logo{
    font-size: 20px;
}
.logo-name{
    padding: 32px 0px;
}
.logo-name-1{
    font-weight: bold;
    color: rgb(60, 60, 60);
}
.logo-name-2{
    color: gray;
}

/* text-decoration: none = เอาขีดเส้นใต้ที่ Nav bar ออก (link) */
a{
    text-decoration: none;
}
header{
    background-color: #fff;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
    padding: 0 24px;  
    
   
   
}
.navlink:hover{
    opacity: 0.7;

}


/* ทำให้โลโก้เสือเป็น Flex */
.holder-logo {
    display: flex;
}
.logo1{
    text-transform: uppercase;
   
}
#nav-mobile{
    /* display: none คือไม่แสดงในหน้าปกติแต่ยังมีโค้ดอยู่กรณีนี้เราจะเอาไว้ใส่ในหน้าจอ Mobile */
    display: none; 
}
/* ช่องว่างระหว่าง Nav bar ของ destop (below) */
#desktop a{
    margin-left: 16px;
    
}

/* ----ตัว Learn something below ----*/
#learn{
    width: 100%;
    background-color: rgb(216, 216, 216);
    color: rgb(79, 79, 79);
    padding: 32px 24px;
    display: flex;  
    flex-direction: row;
    justify-content: flex-start;
   
}
#learn{
    width: 100%;
}
.holder-img-header{
    width: 60%;
}
.img-header{
    width: 100%;
    display: flex;
} 
.header-learn {   
    width: 40%;
   margin: 0 24px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.header-learn h1{
    font-size: 40px;
}
.header-learn button{
   background-color:rgb(74, 74, 74);
   width: 100%;
   font-size: 1rem;
   padding: 8px 0;
   color: white;
   cursor: pointer;
   border-radius: 2px;
}
.header-learn button:hover{
    background-color:rgb(151, 151, 151);
}

/* practice below */
.practice{
    box-sizing: border-box;
    width: 60%;

}
#holder-practice{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 32px 24px;
}
/* .practice{
    margin: 32px 24px;
} */
.img-practice{
    width: 100%;
    display: flex;
    padding-right: 24px ;
}
/* หัวข้อ it doesn't hurt */
.header-practice-box{
    margin-top: 32px;
    margin-bottom: 24px;
}
.header-practice{
    font-size: 40px;
    /* margin: 24px 0px; */
}
.practice-column{   
    width: 40%;
    display: flex;
    flex-direction: column;  
    cursor: pointer; 
}
.practice-column-2{
    outline: 2px solid #e4e4e4;
    display: flex;
}
.practice-column-2 img{
    width: 35%;
    height: auto; 
    padding: 16px 16px;
}
.practice-column-2:hover{
 background-color: rgb(195, 195, 195);
}
.practice-column-2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}
.practice-column-2-content p{
    margin: 8px 0px;
}
.p {
 margin: 8px 0px;
}

/* section start learning below */
#startlearning{
    padding-left: 72px;
    padding-right: 72px;
    border: 0;
    margin: 0;
    background-color: rgb(195, 195, 195);
}
.header-startlearning{
    text-align: center;
    padding: 32px 0px;
    font-size: 30px;
}
.card-container{
    margin-bottom: 0;
}
.card-row{
    display: flex;
}
.card{
    background-color: white;
    margin-right: 32px;
    margin-bottom: 32px;  
    cursor: pointer;
    border-radius: 2px;   
}
.card:hover{
    background-color: #dedede;
}
.card img{
    height: auto;
    width: 100%;
}
.card-content{
    margin-top:16px ;
    margin-left: 16px;
    margin-bottom: 24px;
}
.card-content h4{
    margin-top: 8px;
    margin-bottom: 8px;
}
.start-mobile{
    display: none;
}

/* section thesis exhibit below */
#thesis{
    background-color: #fff;
    width: 100%;
}
.header-thesis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.thesis-article{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.thesis-article1{
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
}
.thesis-article1 video{
    width: 100%;
}
.thesis-video-content
{
    margin-top:24px ;
    margin-bottom: 24px;
}
.thesis-video-content h3{
    margin-bottom: 8px;
}
.thesis-article2{
    width: 40%;
}
.thesis-article2-box{
    display: flex;
}
.thesis-article2-box:hover{
    background-color: #dedede;
    cursor: pointer;
}
.thesis-article2-box img{
    width: 35%;
    height: auto;
    padding: 16px 16px;   
}
.thesis-article2-box-content
{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* footer below */
#footer-copyrights{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-top: 1px solid rgb(230, 230, 230);
}

/* Mobile */
@media only screen and (max-width: 480px) {
    #desktop {
        display: none;
    }
    .holder-logo{
        display: none;
    }
    *{
        box-sizing: border-box;
    }
    .container{
        max-width:768px ;
    }
    #nav-mobile{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        height: 64px;
    }
    #learn{
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .holder-img-header{
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .header-learn{
        width: 100vw;
        font-size: 10px;
        padding: 16px;
        margin: 0;
        margin-top: 32px;
        margin-right: 16px;

    }
    .header-learn h1{
        font-size: 30px;
    }
    .header-learn button{
        height: 32px;
        width: 100%;
        font-size: 15px;
        margin-top: 24px;
        margin-bottom: 32px;
        padding: 0;
        margin: 0;
    /* practice */
}
    #holder-practice{
        width: 100vw;
        padding: 0;
    }
    .practice{
        display: none;
    }
    .practice-column-2{
        display: flex;
        flex-direction: column;
        width: 100vw;
        
        padding: 16px;
        margin: 0;

    }
    .practice-column-2-content{
        margin-left: 16px;
        margin-bottom: 64px;
        
    }
    .img-content{
        width: 100%;
        
    }
    /* Start Learning */
    #startlearning{
        width: 100vw;
    }
    .card-container{
        display: none;
    }
    .start-mobile{
        display: block;  
    }
    .start-mobile-card{
        background-color: rgb(172, 172, 172);
        padding-top: 16px;
        padding-bottom: 24px;
        padding-left: 16px;
        margin-bottom: 8px;
    }
    .start-mobile-card:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    .start-mobile-card:last-child{
        margin-bottom: 32px;
    }
    /* thesis */
    #thesis{
    width: 100vw;
    padding: 0;
    margin: 0;
    }
    .thesis-article1{
        width: 100vw;
    }
    .thesis-video{
        width: 100vw;
    }
    .thesis-video-content{
        display: none;
    }
    .thesis-article2{
        display: none;
    }
    /* footer */
    #footer-copyrights{
        width: 100vw;
    }
    .terms-privacy{
        display: none;
    }
}